[run]
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */urls.py
    */wsgi.py
    */asgi.py
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    if self\.verbose
    raise AssertionError
    raise NotImplementedError
    except ImportError
    if __name__ == .__main__.:
    if settings.DEBUG
